footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  line-height: var(--spacing);
  box-shadow: var(--shadow);
  width: 100%;

  background-image: var(--image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 250px; // â† adjust based on your image
}

footer > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

footer a {
  color: var(--text) !important;
}

footer a:hover {
  color: var(--primary) !important;
}

footer .icon {
  font-size: var(--xl);
}
