{% assign image = page.footer | default: site.footer %}
{% assign dark = page.footer-dark | is_nil: site.footer-dark | is_nil: true %}

<footer
  class="background"
  style="--image: url('{{ image | relative_url | uri_escape }}')"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  data-size="wide"
>

  <div class="footer-links" style="text-align: center; margin-top: 1rem;">
    <!-- Email -->
    <a href="mailto:wenqi@usf.edu" title="Email" aria-label="Email" style="margin: 0 10px;">
      <i class="fa fa-envelope fa-lg"></i>
    </a>

    <!-- Google Scholar -->
    <a href="https://scholar.google.com/citations?user=CRlR3ngAAAAJ&hl=en" target="_blank" title="Google Scholar" aria-label="Google Scholar" style="margin: 0 10px;">
      <i class="ai ai-google-scholar ai-lg"></i>
    </a>

    <!-- ORCID -->
    <a href="https://orcid.org/0000-0001-6408-0204" target="_blank" title="ORCID" aria-label="ORCID" style="margin: 0 10px;">
      <i class="ai ai-orcid ai-lg"></i>
    </a>
  </div>

  <input
    type="checkbox"
    class="dark-toggle"
    data-tooltip="Dark mode"
    aria-label="toggle dark mode"
    oninput="onDarkToggleChange(event)"
  >

</footer
