<footer
  style="
    background-image: url('/images/backgound.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
  "
>
  <div>
    {% for link in site.links %}
      {% assign key = link[0] %}
      {% assign value = link[1] %}
      {% include button.html type=key text="" link=value style="bare" %}
    {% endfor %}
  </div>
</footer>
