<header>
  <div class="site-header">
   <a class="site-title" href="{{ '/' | relative_url }}">Liu Research Group</a>
    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/pi/' | relative_url }}">Wenqi Vince Liu</a>
      <a href="{{ '/news/' | relative_url }}">News</a>
      <a href="{{ '/research/' | relative_url }}">Research</a>
      <a href="{{ '/team/' | relative_url }}">Members</a>
      <a href="{{ '/publications/' | relative_url }}">Publications</a>
      <a href="{{ '/outreach/' | relative_url }}">Outreach</a>
    </nav>
  </div>
</header>
