<head>
  {% include analytics.html %}
  {% include verification.html %}
  {% include meta.html %}

  <!-- USF Favicon -->
<link rel="icon" type="image/png" href="{{ '/assets/images/usf-logo.png?v=5' | relative_url }}">
  <link rel="apple-touch-icon" href="{{ '/assets/images/usf-logo.png' | relative_url }}">
  <meta name="theme-color" content="#006747"> <!-- USF green -->

  {% include fonts.html %}
  {% include styles.html %}

  <!-- Lightbox2 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/css/lightbox.min.css" rel="stylesheet">

  {% include scripts.html %}

  <!-- Lightbox2 JS -->
  <script src="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/js/lightbox-plus-jquery.min.js"></script>

  <link rel="shortcut icon" type="image/png" href="{{ '/assets/images/usf-logo.png?v=100' | relative_url }}">

</head>
