<head>
  {% include analytics.html %}
  {% include verification.html %}
  {% include meta.html %}

  <!-- USF Favicon -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/usf-logo.png?v=2' | relative_url }}">

  {% include fonts.html %}
  {% include styles.html %}

  <!-- Lightbox2 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/css/lightbox.min.css" rel="stylesheet">

  {% include scripts.html %}

  <!-- Lightbox2 JS -->
  <script src="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/js/lightbox-plus-jquery.min.js"></script>
</head>
