<!DOCTYPE html>
<html lang="en" data-dark="false">
  {% include head.html %}
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PVBQDN7NHM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-PVBQDN7NHM');
    </script>
  </head>
  <body>
    {% include header.html %}
    
    <main style="padding-top: 100px;">
      <div style="max-width: 960px; margin: 0 auto; padding: 0 20px;">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
